<!DOCTYPE html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0,maximum-scale=1" >
<title>MirinMania15:Birthday</title>
<link rel="stylesheet" media="(max-width: 780px)" href="./css/smartphone_top.css">
<link rel="stylesheet" media="(min-width: 781px)" href="./css/pc_top.css">
<link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
	<div id="logo">
		<picture>
			<source media="(max-width: 780px)" srcset="./img/toplogo_sp.png" width="90%">
			<source media="(min-width: 781px)" srcset="./img/toplogo.png" width="80%">
			<img src="./img/toplogo.png" width="70%" alt="MirinWeb">
		</picture>
	</div>
	<ul class="menu blinking">
		<li><a href="./content.html">START</a></li>
		<li><a href="./about.html">ABOUT</a></li>
		<li><a href="./contact.html">CONTACT</a></li>
	</ul>
</body>