@charset "utf-8" ;
@import url("html5reset.css") !important;


/*body部分----------------------------------------------------------*/
body {
	background:url('../img/topbg.jpg');
	background-size:cover;
}

#logo {
	text-align: center ;
	margin : 0 auto ;
	margin-top : 300px ;
}

.menu {
	list-style: none ;
	width : 100% ;
	text-align: center ;
	margin: 0 auto ;
	margin-left : -40px ;
	margin-top : -30px ;
	line-height: 40px ;
}

.menu a{
	font-size : 1.5em ;
	text-decoration: none ;
	color : white ;
	font-family: 'Changa One', cursive;
	text-shadow: 2px 2px 5px #000;
}

.blinking{
    -webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0.5;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0.5;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0.5;}
    100% {opacity:1;}
}
